@font-face {
  font-family: 'IranSansWeb_Light';
  src: url(IRANSansWeb_Light.ttf) format('truetype'),
    url(IRANSansWeb_Light.eot) format('eot'),
    url(IRANSansWeb_Light.woff) format('woff'),
    url(IRANSansWeb_Light.woff2) format('woff2');
}

body {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body:lang(en){
  line-height: 1.25;
  font-family: 'Hind', sans-serif;
}
body:lang(fa){
  direction: rtl;
  line-height: 1.25;
  font-family: IranSansWeb_Light, sans-serif;
}

body, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 3em auto;
  max-width: 960px;
}

.wrapper, .main-intro, .twitter, footer {
  padding: 0 1em;
}

.main-intro h2 {
  font-weight: 300;
  font-size: 1.5em;
  color: darkslategray;
}

.main-intro h4 {
  font-weight: 250;
  font-size: 1.1em;
  color: slategray;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  height: 160px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 300px;
  padding: 2em;
  margin: 1.2em;
  border-radius: .5em;
  transition: transform .5s;
}

.card svg {
  width: 4em;
  fill: white;
  margin-bottom: 2em;
}

.card p {
  font-size: 1em;
  font-weight: 500;
  backface-visibility: hidden;
}

.card a {
  text-decoration: none;
  color: white;
  display: block;
}

.twitter {
  margin: 2em 0;
}

.telegram {
  background: #0088CC;
}

.email {
  background: #E53935;
}

.instagram {
  background: #E4405F;
}

.git {
  background: #181717;
}

.skype {
  background: #00AFF0;
}

.outlook {
  background: #0078D7;
}

.yahoo {
  background: #410093;
}

@media (min-device-width: 768px) {
  .card {
    flex: 1 200px;
  }
  
}

@media (min-width: 960px) {
  .main-intro h2 {
    font-size: 2em;
  }
  .card {
    flex: 1 150px;
  }
  .card:hover {
    transform: scale(1.1);
  }
}


#langset {
direction: rtl;
}

#langset:lang(fa) {
  direction: ltr;
}

#langset a{
  text-decoration: none;
  direction: ltr;
}

#langset:lang(fa) a{
  text-decoration: none;  
  direction: rtl;
}

#langset a:link {
  color: darkslategray;
}

#langset a:hover {
  color: #E53935;
  
}

#langset a:visited {
  color: slategray;
}
